In [213]:
# Install Beautiful Soup
# conda install beautifulsoup4

In [3]:
# Import the requests package and BeautifulSoup class
import requests
from bs4 import BeautifulSoup

In [4]:
# Connect to URL you want to connect to
BeautifulSoup

bs4.BeautifulSoup

In [33]:
# Retrieve HTML using class

In [34]:
# Check type

In [35]:
# Records we want are in each individual tr element

In [17]:
# Instantiate BeautifulSoup class
page = requests.get('https://www.nbastuffer.com/2019-2020-nba-player-stats/')
page

In [ ]:
soup = BeautifulSoup(page.text, 'html.parser')

In [36]:
# All data we need is in every odd-numbered indexed row

In [ ]:
tbody = soup.find(class_='row-hover')

In [ ]:
type(tbody)

In [18]:
data_list = []

# Loop through tr_list
for row in tr_list:
    data_values = []

    # Loop through td element
    for column in row
        # Append that data to the current record
        data_values.append(column.text)
        
    # Add the finished row to dataframe
    data_list.append(data_values)
    
data_list

[]

In [35]:
class Player:
     _all = []
    
     def __init__(self, name, team, pos, gp, mpg, fta, ftp, tpa, tpp, thpa, thpp, ppg, rpg, apg, spg, bpg, topg):
        self.name = name
        self.team = team
        self.pos = pos
        self.gp = gp
        self.mpg = mpg
        self.fta = fta
        self.ftp = ftp
        self.tpa = tpa
        self.tpp = tpp
        self.thpa = thpa
        self.thpp = thpp
        self.ppg = ppg
        self.rpg = rpg
        self.apg = apg
        self.spg = spg
        self.bpg = bpg
        self.topg = topg
        
        self._all.append(self)

In [ ]:
for i in data_list:
    print(len)

In [37]:
for player in data_list:
    Player(
        name = player[1],
        team = player[2],
        pos = player[3],
        gp = player[5],
        mpg = player[6],
        fta = player[10],
        ftp = player[11],
        tta = player[12],
        ttp = player[13],
        thpa = player[14],
        thpp = player[15],
        ppg = player[18],
        rpg = player[19],
        apg = player[21],
        spg = player[23],
        bpg = player[24],
        topg = player[25],
        
        )

In [38]:
Player._all[2].thpg

IndexError: list index out of range

In [38]:
# Search dataset with Pandas and Numpyb
# conda install pandas
# conda install numpy

In [39]:
# Create Pandas dataframe

In [40]:
# Remove all columns named 'delete'

In [41]:
# View datatypes

In [42]:
# Convert certain columns to floats

In [43]:
# Convert certain columns to int

In [44]:
# Check datatypes again

In [45]:
# Convert team column strings to be uppercase

In [46]:
# Show basic pandas dataset calculations

In [47]:
# Chain multiple queries and different things together to mimick SQL queries